.App {
  text-align: center;
  background-color: papayawhip;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.hero-image {
  background-image: url("assets/image.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  height: 700px;
  position: relative;
  display: block;
}

.hotspot {
  position: absolute;
  background-color: red;
  height: 20%;
  width: 20%;
}

.hero-image-container {
  position: relative;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.tab-container {
  width: 200px;
  float: left;
  background-color: lightblue;
}

.tab {
  padding: 9px 15px;
  display: block;
  border-radius: 3px 3px 0px 0px;
  background: #7FB5DA;
  font-size: 16px;
  font-weight: 600;
  color: #4c4c4c;
  transition: all linear 0.15s;
}

.tab.active {
  background-color: red;
}

.textbox {
  width: 1000px;
  margin-left: 50px;
  text-align: left;
  float: left;
  padding: 15px;
  border-radius: 3px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  background: #fff;
}

.textbox-body {
  margin-left: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
